<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
</head>
<body>

      <div class="main-content">
           {{>header}}
           <p>This site was created by Lubabalo Matyila. It uses data from mapbox and weather stack.</p>

            <img src="/img/me.jpg" class="portrait">
         
    </div>
       {{>footer}}
    
</body>


</html>